/*
        light colors      dark colors
green:    #12af12           #1a501a
red:      #e02a2a           #611d1d
yellow:   #e9e92a           #5f5f1d
blue:     #3434d1           #212150
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #7f6ce6, #f56f8c);
  margin: 0;
  padding: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.container {
  width: 600px;
  height: 600px;
  margin: 75px auto;
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 5s;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 4rem;
}

.info {
  margin-top: -30px;
  margin-bottom: -10px;
  letter-spacing: 2px;
}

b {
  letter-spacing: 4px;
}

.board {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tile {
  width: 50%;
  height: 50%;
}

.tile:hover {
  opacity: 85%;
}

.green-dark {
  background-color: #1a501a;
}

.red-dark {
  background-color: #611d1d;
}

.yellow-dark {
  background-color: #5f5f1d;
}

.blue-dark {
  background-color: #212150;
  opacity: 100%;
}
